@page "/settings"

    <Column Class="settings-column">
        <Row Style="height:8%; background-color: #4d4736;">
             <h3 Style="">Status</h3>
        </Row>
        <Row Style="height:25%; background-color: #4d4746;">
            <h4 style="width:100%;">Flow</h4>      
            <p>text</p>     
        </Row>
        <Row Style="height:25%; background-color: #4d4766;">
            <h4 style="width:100%;">Head</h4>
            <p>text</p>
        </Row>
        <Row Style="height:25%; background-color: #4d4746;">
            <h4 style="width:100%;">External Support</h4>
            <p>text</p>
        </Row>
        <Row Style="height:25%; padding-left:5px; background-color: #4d4756;">
            <h4>Controlled from</h4>
            <p>Grundfos Go app</p>

        </Row>
        <Row Style="height:4%;">

        </Row>

    </Column>


@code {

}
